NEXT_PUBLIC_SUPABASE_URL=https://jrrpfyxetbcbehlifkgh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpycnBmeXhldGJjYmVobGlma2doIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5Njg5NDAsImV4cCI6MjA5MDU0NDk0MH0.qQ1yj79GjhGFpjIFgvECrxarUsWHmCaytoLCdP4aBb8
ADMIN_PASSWORD=your-secret-password
